body{
    margin: 0;
    background-color: #1e3f69;
}
header{
    background-color:#1c304a;
    height: 10x;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin:0;
    color: white;
    font-size: 50px;

}

main{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;

}
.center{
    display: flex;
    background-color: #325685;
    height: 400px;
    width: 800px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    gap: 50px;
    align-items: center;

}

.X{
    margin: 0px;
    font-size: 60px;
}
.humanshowcase{
    color: white;
    font-size: 25px;
    text-align: center;
}

.humanemoji{
    background-color:#1c304a;
    height: 250px;
    width: 250px;
    border-radius:25px;
}

.aishowcase{
    color: white;
    font-size: 25px;
    text-align: center;
}

.aiemoji{
    background-color:#1c304a;
    height: 250px;
    width: 250px;
    border-radius:25px;
}

p{
    margin: 10px;
}